{% extends 'layout.html' %}
{% load static %}
    
{% block content %}

<header class="main-header">
    <div class="overlay">
        <div class="container center">
            <div id="showcase">
                <h1>Website Design/Development <span id="join"></span>& Digital Marketing</h1>
                <p class="flow-text">We design and develop websites for businesses with stunning results</p>
                <a class="btn" href="{% url 'contact:contact' %}">Contact Us</a>
            </div>
        </div>
    </div>
</header>

<!-- Services Section
==================
-->

<div class="container" id="box">
    <h2 class="center">Our Services</h2>
    <div class="row">
        <div class="card col s12 m6 l4">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{% static "img/webdev.jpeg" %}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">WEB Dev<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">WEB Dev<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
            <div class="card col s12 m6 l4">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static "img/ecomm.jpeg" %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Ecommerce<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Ecommerce<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
                <div class="card col s12 m6 l4">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static "img/webdev.jpeg" %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">WEB Maintenance<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">WEB Maintenance<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                    <div class="card col s12 m6 l4">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{% static "img/webdev.jpeg" %}">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Biz Branding<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">This is a link</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Biz Branding<i class="material-icons right">close</i></span>
                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            </div>
                        </div>
            <div class="card col s12 m6 l4">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static "img/research.jpeg" %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Research/Strategy<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Research/Strategy<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
                <div class="card col s12 m6 l4">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static "img/market.jpeg" %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">DIGITAL Marketing<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">DIGITAL Marketing<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
    </div>
</div>


<!-- About Section
==================
-->

<section class="center" id="about">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="">Who We Are</h2>
                <p class="flow-text">We are focused on helping our clients accomplish wonderfull things through online marketing. We start typically by creating a brand new staunning website or redesigning an existing one; evolving into a long-term relationship with them.

                Our projects ride on analytics and constant improvement. So we leverage on technology so we do what we do best so that our clients can focus on running their business with all confidence!</p>
            </div>
            <a class="btn" href="{% url 'pages:about' %}">Read More</a>
        </div>
    </div>
</section>


<!-- Subscribe Section
==================
-->

<section class="section center container">
    <h2>YOU WANT DEALS AND TIPS?</h2>
    <P>Subscribe to get our newsletter</P>
    <div class="row">
        <form action="{% url 'pages:home' %}" method="POST">
            {% csrf_token %}
            <div class="input-field">
                {{ join }}
            </div>
            <button class="btn">Join</button>
        </form>
    </div>   
</section>

<!-- Team Section
==================
-->

<section class="section" id="team">
    <div class="container center">
        <div class="row">
            <div class="col s12">
                <h2>Meet The Team</h2>
                <p class="flow-text">Our dynamic team are both talented and courteous, bringing unique skills and great levels of expertise to every project.</p>
                <a href="{% url 'team:team' %}" class="btn">Learn more</a>
            </div>
        </div>
    </div>
</section>
    
{% endblock %}