{% extends 'layout.html' %}

{% block content %}
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_bg_4.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row row-mt-15em">
            <div class="col-md-7 mt-text text-left animate-box" data-animate-effect="fadeInUp">
                <h1>Our <strong>Portfolio</strong></h1>	
                <h2>Far far away, behind the word mountains, far from the countries Vokalia.</h2>
            </div>
        </div>
    </div>
</header>

<div class="gtco-section gtco-gray-bg">
    <div class="gtco-container">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#" class="gtco-card-item">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="images/img_1.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="gtco-text">
                        <h2>Project Name Here</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
                        <p class="gtco-category"><span>Web Design</span>, <span>Branding</span>, <span>Illustrator</span></p>
                    </div>
                </a>
            </div>

            <div class="clearfix visible-lg-block visible-md-block"></div>
            <div class="clearfix visible-sm-block"></div>

        </div>
    </div>
</div>



<div class="gtco-cover gtco-cover-sm" style="background-image: url(images/img_bg_1.jpg)"  data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container text-center">
        <div class="display-t">
            <div class="display-tc">
                <h1>We have high quality services that you will surely love!</h1>
            </div>	
        </div>
    </div>
</div>

{% endblock %}
