{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>NeuPyTech</title>
</head>
<body>
    
    <div class="navbar-fixed">
        <nav>
            <div class="container">
                <div class="nav-wrapper">
                    <a href="{% url 'pages:home' %}" class="brand-logo">neupytech</a>
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'pages:about' %}">About Us</a></li>
                    <li><a href="{% url 'pages:portfolio' %}">Portfolio</a></li>
                    <li><a href="{% url 'contact:contact' %}">Contact Us</a></li>
                    
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-nav">
        <li><a href="{% url 'pages:about' %}">About Us</a></li>
        <li><a href="{% url 'pages:portfolio' %}">Portfolio</a></li>
        <li><a href="{% url 'contact:contact' %}">Contact Us</a></li>
        
    </ul>

    <!-- Django Template Tags -->
    {% block content %}
    {% endblock %}

<section class="section center tech-map">
    <div id="map"></div>
    <div class="container">
        <div class="row">
            <div class="col s12 m6 offset-m6">
                <div class="card-panel z-depth-5">
                <h5>Contact Us</h5>
                <hr>
                    <p><i class="fas fa-road"></i>14, Ring Road Opp. All Weather, Idua, Eket</p>
                    <p><i class="fas fa-phone-volume"></i>+234 811 5234 897</p>
                    <p><i class="fas fa-envelope"></i>info@neupytech.com</p>
                <hr>
                    <a href="https://web.facebook.com/neupytech/" target="_blank"><i class="fab fa-facebook-f mr-4"></i></a>
                    <a href="https://twitter.com/neupytech" target="_blank"><i class="fab fa-twitter mr-4"></i></a>
                    <a href="" target="_blank"><i class="fab fa-instagram mr-4"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
        
<div class="center">
    <div class="row">
        <div class="s12">
            <p>Copyright NEUPYTECH &copy; {% now "Y" %}. All rights reserved.</p>
        </div>
    </div>
</div>
<!-- Map JS
==================
-->
    <script>
        function initMap () {
          var options = {
            zoom: 8,
            center: {lat:4.9300,lng:7.8722}
          }
          var map = new google.maps.Map (document.getElementById('map'), options);
          var marker = new google.maps.Marker ({
            position: {lat:4.6467,lng:7.9429},
            map:map
          })
        }
    </script>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVEe2iQi3o5-_CcZ0CSV5MJ-18pJTJr3o&callback=initMap"
    async defer></script>
    <script src="{% static "js/materialize.min.js" %}"></script>

    <!-- Mobile Navbar -->
    <script>
       //const sideNav = document.querySelectorAll('.sidenav');
       //M.Sidenav.init(sideNav, {});    
       
       document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
      });
    
    </script>
</body>
</html>