body, html *{
    margin:0;
}

#hero {
    background: url(../img/laptop.jpeg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 300px;
    background-position: center;
}


#hero h1 {
    font-size: 1.9rem;
    padding-top: 50px;
}

.card {
    padding: 20px;
    border: 1px solid #00dba0;

}

.fas {
    font-size: 4.0rem;
    color: #00dba0;
}

/* Map Styling */

#map {
    height: 400px;
    background-color: aquamarine;
}


