body, html {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.btn {
    background-color: #3385ff;
}

nav {
    background: #3385ff;
}

nav .brand-logo img{
    height: 50px;
    width: auto;
    padding-top: 10px;
}

.overlay {
    background: rgba(63, 57, 77, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


#showcase {
    padding-top: 50px;
}

.main-header {
    background: url(../img/laptop.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 300px;
    color: #fff;
    position: relative;
}

#about {
    padding: 20px;
}

.about h1 {
    margin-left: 40px;
}
.tech-map {
    position: relative;
}

.tech-map .card-panel{
    position: relative;
    z-index: 1;
}

.fas, .fab {
    margin: 20px;
}
#map {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
