{% extends 'layout.html' %}


{% block content %}

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_bg_3.jpg)" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row row-mt-15em">
			<div class="col-md-7 mt-text text-left animate-box" data-animate-effect="fadeInUp">
				<h1>Get <strong>In Touch</strong></h1>	
				<h2>Far far away, behind the word mountains, far from the countries Vokalia.</h2>
			</div>
		</div>
	</div>
</header>

<div class="gtco-section gtco-gray-bg">
        <div class="gtco-container">
            <div class="row">
    
                <div class="col-md-12">
                    <div class="col-md-6 animate-box">
                    <h3>Get In Touch</h3>
                    <form action="#">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="sr-only" for="name">Name</label>
                                {{ form.name }}
                            </div>  
                        </div>
    
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="sr-only" for="email">Email</label>
                                {{ form.email }}
                            </div>
                        </div>    
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="sr-only" for="message">Message</label>
                                {{ form.message }}
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Send Message" class="btn btn-primary">
                        </div>
    
                    </form>		
                </div>
                <div class="col-md-5 col-md-push-1 animate-box">
                    
                    <div class="gtco-contact-info">
                        <h3>Contact Information</h3>
                        <ul>
                            <li class="address">14 Ring Road<br>Idua, Eket Akwa Ibom</li>
                            <li class="phone"><a href="">+234 811 362 0163</a></li>
                            <li class="email"><a href="mailto:support@neupytech.com">support@neupytech.com</a></li>
                        </ul>
                    </div>
    
    
                </div>
                </div>
    
            </div>
        </div>
    </div>



<!-- <div class="container">
    <h1>Contact Us</h1>
        <div class="row">
            <form class="col s12" method="POST" action="{% url 'contact:contact' %}">
                {% csrf_token %}
                  <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        {{ form.name }}
                        <label for="icon_telephone">Fullname</label>
                    </div>
                    </div>
                    <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">phone</i>
                        {{ form.phone }}
                        <label for="icon_telephone">Telephone</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">email</i>
                        {{ form.email }}
                        <label for="icon_email">Email</label>
                    </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mode_edit</i>
                            {{ form.message }}
                            <label for="icon_prefix2">Message</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="g-recaptcha" data-sitekey="6LcDemQUAAAAAAdACzPwKZb0QRrSZqyXHmJpbJGc"></div>    
                    </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>  
        </div>
</div> 
 -->




{% endblock %}