{% extends 'layout.html' %}
{% load static %}

{% block content %}
<h1>Hello from Posts</h1>
<div class="container">
  <div class="row">
    {% for post in posts %}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
        <img src="{{ post.thumb.url }}" alt=""/>
        </div>
        <h2 class="card-title"><a href="{% url 'posts:details' post.slug %}">{{ post.title }}</a></h2>
        <div class="card-content">
          <p><p>{{ post.date }}</p></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}


  