{% extends 'layout.html' %}
{% load static %}

{% block content %}
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_bg_4.jpg)" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="gtco-container">
      <div class="row row-mt-15em">
          <div class="col-md-7 mt-text text-left animate-box" data-animate-effect="fadeInUp">
              <h1>Our <strong>Blog</strong></h1>	
              <h2>Far far away, behind the word mountains, far from the countries Vokalia.</h2>
          </div>
      </div>
  </div>
</header>


<div class="gtco-section gtco-gray-bg">
    <div class="gtco-container">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-6">
                {% for post in posts %}
                <a href="{% url 'posts:details' post.slug %}" class="gtco-card-item">
                    <figure>
                        
                        <img src="{{ post.thumb.url }}" alt="Image" class="img-responsive">
                    </figure>
                    <div class="gtco-text text-left">
                        <h2>{{ post.title }}</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
                        <p class="gtco-category">{{ post.date }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="clearfix visible-lg-block visible-md-block"></div>

        </div>
    </div>
</div>
{% endblock %}


  